.App-logo {
    pointer-events: none;
    border-radius: 5%;
    margin-top: 20px;
    margin-left:  200px;
    width: 40%;
    //box-shadow: -0.8em 0.4em .1em rgb(0, 0, 0), -1em 0.3em .4em rgb(0, 0, 0);
  
  }

  @media screen and (max-width:800px) {
    .App-logo {
      position: absolute;
      pointer-events: none;
      border-radius: 5%;
      margin:-60px -70px;
      width: 50%;
      text-align: center;

      top: 130px;
      //box-shadow: -0.8em 0.4em .1em rgb(0, 0, 0), -1em 0.3em .4em rgb(0, 0, 0);
    
    }
  
  }
  
  