.body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   'sans-serif';
  -webkit-font-soothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 208, 208);
}

.carousel {
  z-index: 0;
  height: 10%;
  width: 90%;
  margin: 0 auto;
}

.header {
  z-index: 2;
  position: fixed;
}
.espace_header {
  height: 30vh;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
h1.span {
  background: white;
}

.App {
  text-align: center;
}
.bienvenudo1 {
  font-weight: 200;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.banner {
  background-color: rgb(0, 123, 255);
  width: 800px;
  margin: 50px auto;
  border-radius: 10px;
}

.iphone__images {
  width: 80%;
  background-color: #61dafb;
  margin: 20px auto;
  border-radius: 10px;
}

.iphone__images img{
  width: 80%;
  margin: 10px auto;
  border-radius: 50px;
}


.para__iphone {
  //margin-left: 200px;
  text-align: center;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;

}



.bienvenudo {
color: black;
font-weight: bold;
font-size: 180%;
}

.test {
  width: 100%;
  height: 30vh;
}

.test1 {
  width: 100%;
  height: 10vh;
}

.test2 {
  width: 100%;
  height: 10vh;
}

button {
  background: none;
  border: none;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #f5f5f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(247, 246, 246);
}

.body_home {
  border-radius: 20px 0;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bloc-card {
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
  background-color: #bbbbcc;

}
.bloc-card:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 1s;

}

.iphone11 span{
  color: white
}

.container-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
  margin: 20px auto;
  background: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 191));
  border-radius: 20px;

}

.intro {
  color: black;
  font-size: 10px;
  text-align: center;
  margin-left: 1px;
}

.paragraphe {
  background: white;
  color: black;
}
.text_intro h2 {
  background-color: white;
  font-weight: bold;
  color: black;
}

div.text_intro {
  background: white;
}

div.text_intro2 {
  background: white;
}
.text_intro2 h2 {
  background: white;
  font-weight: bold;
  color: black;

}
div.text_intro3 {
  background: white;
  color: black;
  border: solid 3px red;
}

.text_intro3 h2 {
  font-weight: bold;
  font-size: 10px;
  
}

.text_intro3 li {
  list-style-type: none;
  font-size: 25px;
}


.text_intro li {
  list-style-type: none;
  font-size: 25px;
}

.text_intro2 li {
  list-style-type: none;
  font-size: 25px;
}


.img-product {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px;
}

.img-accessoires {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px;
}

.text_info {
  text-decoration: none;
  margin: 1%;
  margin-top: 20px;
  color: black;
}

.image_price {
  width: 100%;
}


div.info {
  display: flex;
  flex-direction: column;

}
.para__iphone1 {
  font-size: 30px;
}

h1.title::before {
  content: "-";
  vertical-align: middle;
}

h1.title::after {
  content: "-";
  vertical-align: middle;
}

h1.title {
  background-color: red;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

h1.title1 {
  background-color: rgb(255, 234, 0);
  border-radius: 5px;
  width: 80%;
  margin: 20px auto;
}

h1.title3 {
  margin-top: 10px;
  border-radius: 5px;
  width: 80%;
  color: black;
  font-weight: bold;
}
.banner {
  width: 100%;
}

.text_intro2 {
  width: 100%;
}



.like-container {
  height: 10px;
  width: 10px;

}

.text_intro {
  border: 3px solid white;
  margin-top: 10px;
  width: 90%;
  background-color: rgb(15, 89, 139);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-style: italic;

}

.text_intro2 {
  border: 3px solid white;
  margin-top: 80px;
  height: 120px;
  width: 90%;
  background-color: rgb(115, 0, 255);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-style: italic;

}
.banner > h1 {
  font-family: cursive;
}

.iphone11 {
  color: white;
background: black;}

.text_intro3 {
  border: 3px solid white;
  margin-top: 120px;
  height: 120px;
  width: 100%;
  background-color: rgb(255, 0, 200);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-style: italic;

}
@media screen and (max-width:800px) {
  .text_intro2 li{
    font-size: 15px;
  }
  .text_intro2 h2{
    font-size: 15px;
  }
  .text_intro2 {
    text-align: center;
  }
  .image_price {
    width: 100%;
  }
  .para__iphone {
    font-size: 40px;

  }
  .para__iphone1 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .text_intro3 li{
    font-size: 15px;

  }

  .text_intro3 h2{
    font-size: 18px;

  }


}




